.header {
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: space-between;
    width: 80vw;
}

.nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

.buttonsContainer {
    gap: 6px;
}

.logoContainer {
    width: 50px;
    height: 50px;
    background-color: #ff9500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.logo {
    width: 30px;
    height: 30px;
}

.auth {
    display: flex;
    align-items: center;
    gap: 16px;
}

.navButton {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.loginButton {
    padding: 12px 24px;
    border-radius: 8px;
    background-color: #ff9500;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
