.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 24px;
}

.logoContainer {
    width: 54px;
    height: 54px;
    background-color: #ff9500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.logo {
    width: 32px;
    height: 32px;
}

.auth {
    display: flex;
    align-items: center;
    gap: 16px;
}

.navButton {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.loginButton {
    padding: 12px 24px;
    border-radius: 8px;
    background-color: #ff9500;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
